.cnx_logo
{
   width: 100%;
}

.box_cnx .btn_cnx , .box_cnx .btn_insc
{
background-image: -webkit-linear-gradient(left, rgb(8, 24, 43), rgba(69, 217, 253, 0.8), rgb(8, 24, 43));
}
body
{
    background-color: rgb(8, 24, 43);
    background-image: none;
}
.box_cnx form
{
border: 0;
}